@font-face {
	font-family: Chalk;
	src: url("resources/EraserDust.ttf");
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: Chalk, serif;
	background-color: black;
	cursor: default;
}

.row {
	width: 100%;
	margin: 0px;
	padding: 50px;
}

.container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.center {
	text-align: center;
}

h1 {
	margin-top: 50px;
	font-size: 700%;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 300%;
	font-weight: bold;
	color: white;
}

h3 {
	font-size: 200%;
	font-weight: bold;
	color: white;
}

.vokale {
	color: yellow;
}

.letters {
	width: 100%;
	text-align: justify;
	margin: 0px;
	padding: 0px;
}

.letters::after {
	content: "\A0";
	display: inline-block;
	height: 0px;
	width: 100%;
}

.letter {
	font-size: 250%;
	margin: 5px;
	list-style: none;
	display: inline;
}

.letter:hover {
	color: yellow;
	cursor: pointer;
}

.clicked {
	color: #404040;
	pointer-events: none;
	cursor: default;
}

#image {
	width: 500px;
	height: 500px;
}

#neu {
	font-size: 300%;
	text-align: center;
	margin: auto;
	display: block;
	border: none;
	background-color: Transparent;
	margin-top: 50px;
}

#neu:hover {
	color: yellow;
	cursor: pointer;
}

#field {
	margin-top: 50px;
	margin-bottom: 50px;
}

.link:hover {
	color: white;
	cursor: pointer;
}

#gif {
	position: relative;
	margin-top: -573px;
	margin-left: 316px;
	z-index: 2;
}

#run {
	position: relative;
	margin-top: -350px;
	margin-left: 280px;
	z-index: 3;
}

#hello {
	position: relative;
}

#hello img {
	position: absolute;
	top: 0px;
	right: 0px;
}

.invisible {
	display: none;
}

#close {
	color: red;
	float: right;
}

#close:hover {
	color: black;
	cursor: pointer;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: #5555FF;
	cursor: pointer;
}

#myname {
	font-family: 'Audiowide', cursive;
	font-size: 95%;
}